body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CED2DC !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .main_row{
  position: relative;
} */
.main_div,.form_div{
  padding-top: 5%;
}
.input-div{
  /* margin: 0;
  position: absolute !important; 
  top: 50% !important;
  left: 50%;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 15%; */
  background-color: #fff;
  box-shadow: 0px 3px 10px #00000029;
border: 1px solid #F7F7F7;
border-radius: 30px;

}

.playbtn{
width: 100px;
height: 100px;
background-color: #FF7243 !important;
box-shadow: 10px 10px 50px #FF724373;
border-radius: 20px !important;
opacity: 1;
margin:50px;
}

.playbtn span{
  font-size: 18px;
letter-spacing: 3px;
color: #424242;
}
.playbtn .fa-play-circle{
  margin-top: 15px;
  font-size: 30px;
}

.img_div{
  position: absolute;
    top: -130px;
    width: 100%;
    height: auto;
    max-width: 100%;
}
.btn_div button{
  
width: 25%;
height: 90px;
background: #4BABFF;
border-radius: 20px;

}

/* .btn_row div{
  text-align: center;
} */
.btn_row button{
  width: 100%;
  height: 60px;
  /* box-shadow: 10px 10px 50px #FF724373; */
border-radius: 15px;
text-align: left;
  
}
.btn_one{
  background-color: #4BABFF !important; 
  
}
.btn_two{
  background-color: #4B7BFF !important;
  
}
.btn_three{
  background-color: #4B4BFF !important;
  
}
.btn_four{
  background-color: #6E4BFF !important;
  
}
.btn_row{
  padding: 15px;
}
.first_row{
  margin-top: 30px;
}
.second_row{
  padding-bottom: 30px;
}
.btn_row img{
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-left: 10px;
}
.lower-div{
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
  box-shadow: 0px 3px 10px #00000029;
border: 1px solid #F7F7F7;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
z-index: -1;
margin-top: -30px;
}
.lower-div p{
  height: 25px;
text-align: left;
letter-spacing: 0px;
color: #424242;
padding: 30px;
padding-top: 60px;
padding-left: 15px;
font-size: 15px;
}
.top-div{
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px !important;
 
}
.top-div h3{
  letter-spacing: 0px;
color: #3D4276;
}
.top-div p{
  letter-spacing: 0px;
color: #949494;
}
.hr_row{
  position: absolute;
    top: 180px;
    width: 95%;
}
.form_div .form-control{
  border:none;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border-radius: 0px;
  padding: .375rem 1.2rem;
  background-color: transparent;
}
.form_div .input-div{
  padding: 30px;
}
.gameForm img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
 
}
.gameForm .avatar1{

  left: 45px;
    top: 50px;
    border:7px solid #37AC5D;
}
.gameForm .avatar2,.avatar3,.avatar4{

  left: 45px;
    
}
.gameForm .avatar2{
  border:7px solid #F8D146;
}
.gameForm .avatar3{
  border:7px solid #B1C4F9;
}
.gameForm .avatar4{
  border:7px solid #B1C4F9;
}
.gameForm .form-group{
  margin-left: 50px;
}
.gameForm .form-label{
  margin-left: 20px;
  margin-bottom: 0px !important;
}
.input_box{
  
  padding: 15px 15px 5px 10px;
  border: 1px solid #70707026;
border-radius: 15px;
margin-bottom: 10px;
}
.input_box1{
  background-color: #DCF6E4;
}
.input_box2{
  background-color: #F6EFD5;
}
.input_box3{
  background-color: #EFF3FF;
}
.input_box4{
  background-color: #EFF3FF;
}
.form_submit{
  width: 100%;
    padding: 15px !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    border: 1px solid #70707026;
    border-radius: 15px !important;
    font-size: 20px !important;
letter-spacing: 0px;
background-color: #4B7BFF !important;
}
.modal_body{
  text-align: center;
  padding: 30px !important;
}
.modal_body .form-group{
  background: #EFF3FF;
border: 1px solid #70707026;
border-radius: 15px;
padding: 20px;
text-align: left;
}
.radio_modal .modal-content{
  box-shadow: 0px 3px 6px #00000029;
border: 1px solid #F7F7F7;
border-radius: 30px;
}
.modal_body form{
  padding: 10px;
}
.cancel_btn,.ok_btn{
  box-shadow: 0px 3px 6px #00000029;
border: 1px solid #4B7BFF26 !important;
border-radius: 15px !important;
letter-spacing: 0px !important;
font-size: 17px !important;
}
.cancel_btn{
  background-color: #fff !important;
  letter-spacing: 0px;
color: #4B7BFF !important;
padding: 15px !important;
    width: 45%;
    
}
.ok_btn{
  background-color: #4B7BFF !important;
  letter-spacing: 0px;
color: #fff !important;
padding: 15px !important;
    width: 45%;
    margin-left: 10%;
}

